.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5em;
  padding-bottom: 80px;
}

@media only screen and (min-width: 1000px) {
  .projects {
    margin: auto;
    width: 1000px;
    grid-template-columns: 1fr 1fr;
  }
}
