.about-container {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 100%);
}

.about-container > * {
  text-align: center;
}

.about-heading {
  font-size: 3em;
  padding: 50px 0px;
}

.about-text-container {
  margin: auto;
  width: 80%;
}

.about-image-container {
  display: none;
}

.about-text {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  padding: 30px;
  font-size: 1.45em;
}

@media only screen and (min-width: 1000px) {
  .about-text-container {
    width: 900px;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 2em;
  }
  .about-image-container {
    display: contents;
  }
  .about-image {
    max-width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    object-fit: cover;
  }
}