.about-container {
  height: 80vh;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 100%);
}

.about-container > * {
  text-align: center;
}

.about-heading {
  padding: 100px;
  font-size: 50px;
}

.about-text-container {
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 30px;
  font-size: 24px;
  border-radius: 5px;
  width: 50%;
}
